parameters:
    applet.base_path: /<%= node['project_name'] %>
    
    secret: qiirs0oP1w4oyAsKofNPn4r41b9eNqk1
    
    cookiePrefix: dev03_
    cookieDomain: '.dev03.odesk.com:30151'
    
    vpn_regex: '/^(127\.0\.0\.1|^172.27.[0-9]{1,3}.[0-9]{1,3})$/'
    
    fake_login.user: <%= node['fake_login_user'] %>
    fake_login.url: 'https://dev03.odesk.com:30151/login'
    
    assetic.filters.uglifyjs2.bin: /usr/local/bin/uglifyjs
    assetic.filters.uglifycss.bin: /usr/local/bin/uglifycss
    assetic.use_controller.dev: true
    
    agora.app_host: <%= node['project_name'] %>
    
    agora.client_factory.orpc.url: 'https://dev03.odesk.com:30151/orpc/'
    agora.client_factory.navigation.url: 'http://front.dev.agora.odesk.com:8222'
    agora.client_factory.directoryDS.url: 'http://front.dev.agora.odesk.com:8064'

