<?php
/**
 * Local Configuration Override
 *
 * This configuration override file is for overriding environment-specific and
 * security-sensitive configuration information. 
 *
 */
return array(
    // We need them mostly to render navigation block
    'cookiePrefix' => '<%= node['taskmanager']['cookiePrefix'] %>',
    'webRoot' => '<%= node['taskmanager']['webRoot'] %>',
    'helpCmsRoot' => '<%= node['taskmanager']['helpCmsRoot'] %>',
    'cookieDomain' => '<%= node['taskmanager']['cookieDomain'] %>',

    // Services configuration this environment should use
    'agora_cal' => array(
        'serviceClientFactory' => array(
            'default' => array(
                'config' => array(
                    // Http timeout, default for all commands.
                    'timeout' => <%= node['taskmanager']['agoraCalTimeout'] %>,
                )
            ),
            'taskgenie' => array(
                'url' => '<%= node['taskmanager']['taskgenieURL'] %>',
            ),
            'orpc' => array(
                'url' => '<%= node['taskmanager']['orpcURL'] %>',
            ),
            'navigation' => array(
                'url' => '<%= node['taskmanager']['navURL'] %>',
            )
        )        
    ),
    'view_manager' => array(
        // Uncomment in development environment to see exception trace instead of the error page:
        // 'display_exceptions' => true,
    ),
    'assetic' => array(
        // Uncomment in development environment, if you don't want assets compilation
        // 'debug' => true,
    )
);
