parameters:
 
    # Graphite config
    statsd.enabled: <%= node['statsd']['enabled'] %>
    statsd.environment: <%= node['statsd']['environment'] %>
    statsd.host: <%= node['statsd']['host'] %>
    statsd.port: <%= node['statsd']['port'] %>
    
    cookiePrefix:      <%= node['taskmanager']['cookiePrefix'] %>
    webRoot:           <%= node['taskmanager']['webRoot'] %>
    helpCmsRoot:       <%= node['taskmanager']['helpCmsRoot'] %>
    cookieDomain:      <%= node['taskmanager']['cookieDomain'] %>

    assetic.filters.uglifyjs2.bin: <%= node['uglifyjs2_bin'] %>
    assetic.filters.uglifycss.bin: <%= node['uglifycss_bin'] %>

    agora_service_client_factory:
        default:
            config:
                # Http timeout, default for all commands.
                timeout: <%= node['taskmanager']['agoraCalTimeout'] %>
        taskgenie:
            url: <%= node['taskmanager']['taskgenieURL'] %>
        orpc:
            url: <%= node['taskmanager']['orpcURL'] %>
        navigation:
            url: <%= node['taskmanager']['navURL'] %>
