<?php
/**
 * Local Configuration Override
 *
 * This configuration override file is for overriding environment-specific and
 * security-sensitive configuration information. 
 *
 */
return array(
    // We need them mostly to render navigation block
    'cookiePrefix' => '<%= @cookiePrefix %>',
    'webRoot' => '<%= @webRoot %>',
    'helpCmsRoot' => '<%= @helpCmsRoot %>',
    'cookieDomain' => '<%= @cookieDomain %>',

    // Services configuration this environment should use
    'agora_cal' => array(
        'serviceClientFactory' => array(
            'default' => array(
                'config' => array(
                    // Http timeout, default for all commands.
                    'timeout' => <%= @agoraCalTimeout %>,
                )
            ),
            'taskgenie' => array(
                'url' => '<%= @taskgenieURL %>',
            ),
            'orpc' => array(
                'url' => '<%= @orpcURL %>',
            ),
            'navigation' => array(
                'url' => '<%= @navURL %>',
            )
        )        
    ),
    'view_manager' => array(
        // Uncomment in development environment to see exception trace instead of the error page:
        // 'display_exceptions' => true,
    ),
    'assetic' => array(
        // Uncomment in development environment, if you don't want assets compilation
        // 'debug' => true,
    )
);
