parameters:

    # Graphite config
    statsd.enabled: <%= @statsdEnabled %>
    statsd.environment: <%= @statsdEnv %>
    statsd.host: <%= @statsdHost %>
    statsd.port: <%= @statsdPort %>

    cookiePrefix:      <%= @cookiePrefix %>
    webRoot:           <%= @webRoot %>
    helpCmsRoot:       <%= @helpCmsRoot %>
    cookieDomain:      <%= @cookieDomain %>

    assetic.filters.uglifyjs2.bin: <%= @uglifyjs2_bin %>
    assetic.filters.uglifycss.bin: <%= @uglifycss_bin %>

    agora_service_client_factory:
        default:
            config:
                # Http timeout, default for all commands.
                timeout: <%= @agoraCalTimeout %>
        taskgenie:
            url: <%= @taskgenieURL %>
        orpc:
            url: <%= @orpcURL %>
        navigation:
            url: <%= @navURL %>
