<VirtualHost *:80>
  ServerName <%= @params[:server_name] %>
  <% if @params[:server_aliases] && !@params[:server_aliases].empty? -%>
  ServerAlias <% @params[:server_aliases].each do |a| %><%= "#{a}" %> <% end %>
  <% end -%>
  DocumentRoot <%= @params[:docroot] %><%= node[:root_ext] %>
  <Directory <%= @params[:docroot] %><%= node[:root_ext] %>>
    Options FollowSymLinks
    AllowOverride All
    Order allow,deny
    Allow from all
  </Directory>
  
  <Directory ~ "\.svn">
    Order allow,deny
    Deny from all
  </Directory>
  
  <Directory ~ "\.git">
    Order allow,deny
    Deny from all
  </Directory>
  LogLevel info
  ErrorLog <%= node[:apache][:log_dir] %>/<%= @params[:name] %>-error.log
  CustomLog <%= node[:apache][:log_dir] %>/<%= @params[:name] %>-access.log combined
  CustomLog <%= node[:apache][:log_dir] %>/<%= @params[:name] %>-ganglia.log ganglia
  FileETag none
  RewriteEngine On
  Include <%= @params[:rewrite_config] %>*
  RewriteLog <%= node[:apache][:log_dir] %>/<%= @application_name %>-rewrite.log
  RewriteLogLevel 0
  
  <% if @params[:mounted_at] -%>
  AliasMatch ^<%= @params[:mounted_at] %>/(.*)$ <%= @params[:docroot] %>$1
  <% end -%>
  Include <%= @params[:local_config] %>*

  <% if node[:static_url] && node[:static_path] -%>
  Alias <%= node[:static_url] %> <%= @params[:docroot] %><%= node[:static_path] %> 
  <% end -%>

  <% if node[:is_dev_env] && node[:dev_env_name] -%>
  SetEnv <%= node[:dev_env_name] %> dev
  <% end -%>

  <IfModule mod_expires.c>
    <FilesMatch "\.(jpe?g|png|gif|js|css)$">
      ExpiresActive On
      ExpiresDefault "access plus 1 year"
    </FilesMatch>
  </IfModule>
</VirtualHost>