----

This is an oDesk system managed automatically via Chef. 

Do not make any local changes to the system configuration software on this
system - please work with the SiteOps team so changes are properly captured.

Chef Roles: [<%= @roles.join(', ') %>]
Chef Recipes: [<%= @recipes.join(', ') %>]

-- siteops@odesk.com

