#
# introduced to overwrite default site root

server {
  listen   80;
  server_name  <%= @application[:domains].join(" ") %> <%= node[:hostname] %>;
  access_log  <%= node[:nginx][:log_dir] %>/<%= @application[:domains].first %>.access.log;

  location / {
    root   <%= @application[:absolute_document_root] %><%= node[:root_ext] %>;
    index  index.html index.htm index.php;

    <% if node[:use_rewrite] %>
    try_files $uri $uri/ @rewrite;
    <% end -%>
  }

  <% if node[:use_rewrite] %>
  location @rewrite {
    rewrite ^/(.*)$ / permanent;
  }
  <% end -%>
  
  # Block all svn access
  if ($request_uri ~* ^.*\.svn.*$) {
     return 404;
  }
  
  # Block all git access
  if ($request_uri ~* ^.*\.git.*$) {
     return 404;
  }
  
  location /nginx_status {
    stub_status on;
    access_log off;
    allow 127.0.0.1;
    deny all;
  }
  
}

<% if @application[:ssl_support] %>
server {
  listen   443;
  server_name  <%= @application[:domains].join(" ") %> <%= node[:hostname] %>;
  access_log  <%= node[:nginx][:log_dir] %>/<%= @application[:domains].first %>-ssl.access.log;
  
  ssl on;
  ssl_certificate /etc/nginx/ssl/<%= @application[:domains].first %>.crt;
  ssl_certificate_key /etc/nginx/ssl/<%= @application[:domains].first %>.key;
  <% if @application[:ssl_certificate_ca] -%>
  ssl_client_certificate /etc/nginx/ssl/<%= @application[:domains].first %>.ca;
  <% end -%>

  location / {
    root   <%= @application[:absolute_document_root] %>;
    index  index.html index.htm index.php;
  }
  
  # Block all svn access
  if ($request_uri ~* ^.*\.svn.*$) {
     return 404;
  }
  
  # Block all git access
  if ($request_uri ~* ^.*\.git.*$) {
     return 404;
  }
}
<% end %>